.card__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  padding: 25px 30px 25px 20px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin-left: 2px;
  border: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
