.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  padding: 25px 30px 25px 20px;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin-left: 2px;
  border: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_is-active {
  background: transparent url(../images/like-button-active.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin-left: 2px;
  border: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  border: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.card__delete-button:hover {
  opacity: 0.6;
}
