.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page__section {
  position: relative;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
