.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: -ms-grid;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(auto, 373px);
  grid-template-rows: auto;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  gap: 16px 18px;
}

.profile__title {
  grid-area: title;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.15;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 30px;
}

.profile__subtitle {
  grid-area: subtitle;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  margin-bottom: 0;
  border: solid 1px white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: solid 2px white;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .profile__avatar {
    margin-left: 19px;
  }
  .profile__add-button {
    margin-right: 19px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding-top: 38.25px;
  }

  .profile__avatar {
    margin: 0 auto 26.25px;
  }

  .profile__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
    background: transparent url(../images/add-button-tablet.svg) center no-repeat;
  }

  .profile__subtitle {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.22;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
  }
}
