.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: minmax(auto, 373px);
  grid-template-columns: minmax(auto, 373px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  gap: 16px 18px;
}

.profile__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.15;
  margin: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__subtitle {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: subtitle;
  margin: 0;
}

.profile__edit-button {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: button;
  width: 24px;
  height: 24px;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  margin-bottom: 0;
  border: solid 1px white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: solid 2px white;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 999px) {
  .profile {
    margin: 0 19px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 38.25px;
  }

  .profile__avatar {
    margin: 0 auto 26.25px;
  }

  .profile__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
    background: transparent url(../images/add-button-tablet.svg) center no-repeat;
  }

  .profile__subtitle {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.22;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
  }
}
