.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease 0s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal__form {
  position: relative;
  color: black;
  background-color: white;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.modal__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding: 34px 36px 54px;
}

.modal__form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0 36px;
  border: 0;
  margin: 0;
}

.modal__form-input {
  color: black;
  font-size: 14px;
  line-height: 1.21;
  height: 27px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.modal__label {
  position: relative;
  margin-bottom: 28px;
}

.modal__label:last-of-type {
  margin-bottom: 0;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  color: #ff0000;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity 0.3s;
}

.modal__error_visible {
  display: block;
}

.modal__form-input_type_error {
  border-bottom: solid 1px #ff0000;
}

.modal__submit-button {
  margin: 48px 0 0;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  height: 50px;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.modal__submit-button:hover:not(:disabled) {
  opacity: 0.8;
}

.modal__submit-button_disabled {
  opacity: 0.2;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: not-allowed;
}

.modal__close-button {
  position: absolute;
  top: -48.25px;
  right: -48.25px;
  width: 40px;
  height: 40px;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s ease-in-out;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__preview {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.modal__preview-caption {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 1.25;
  color: white;
}

@media screen and (max-width: 580px) {
  .modal__close-button {
    top: -50px;
    right: 0;
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 18px;
    padding: 25px 22px 75px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__form-fieldset {
    padding: 0 22px;
  }

  .modal__submit-button {
    margin: 48px 0 0;
    font-size: 14px;
    height: 46px;
  }
}
